@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /*background: url("../../background.png");*/
  background-color: #111827;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
}

* {
  font-family: "Gilroy Light", "Gilroy ExtraBold", serif;
}

.bold-font {
  font-family: "Gilroy ExtraBold", "Gilroy Light", serif;
}

.Vue-Toastification__toast--default  {
  background-color: rgb(28, 108, 197) !important;
}

.Vue-Toastification__toast--error  {
  background-color: rgb(197, 28, 28) !important;
}
.Vue-Toastification__toast--warning  {
  background-color: rgb(197, 124, 28) !important;
}

::-webkit-scrollbar {
  display: none;
}
/*::-webkit-scrollbar-track {*/
/*  border-radius: 10px;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*  background: #5c6e9d;*/
/*  border-radius: 10px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #88aaff;*/
/*}*/



.bg-sphere {
  position: absolute;
  width: 670px;
  height: 670px;
  /*background-color: #354d0b;*/
  background-color: rgba(11, 42, 77, 0.7);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
}